.badge {
    background-color: #749ba0;
}
.navicon {
    display: none;
}
/* sidebar */

.sidebar {
    background: transparent;
}
.sidebar .twitter-gradient {
    height: 600px;
}
.sidebar .twitter-gradient iframe {
    height: 600px !important;
    width: 100% !important;
}
.sidebar ul.nav {
    background: white;
    margin-bottom: 20px;
}
.nav li:first-child {
    background-color: #333;
}
.nav li:first-child a {
    color: #fff;
}
.nav li:first-child a:hover {
    background-color: #000
}
.sidebar ul.dropdown-menu li a {
    padding: 15px;
}
.quiz_end {
    margin: -40px -20px -20px -20px;
}
header p {
    font-size: 1.4em;
    display: inline-block;
}
.green-button {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #749ba0;
    letter-spacing: 3px;
    padding: 0;
    width: 100%;
    border: 0;
    border-radius: 0;
    height: 60px;
    margin-top: 10px;
    line-height: 3;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.green-button:hover,
.green-button:focus,
.green-button:active {
    background-color: #5b8186;
}
.quiz_section input[type="submit"]:hover,
.quiz_section input[type="submit"]:focus,
.quiz_section input[type="submit"]:active {
    background-color: #5b8186;
}
#mlw_error_message_bottom {
    display: block;
    text-align: center;
}
/*responsive stuff*/

@media (max-width: 768px) {
    body:before {
        background: none;
        background-color: #333;
    }
    .navicon {
        display: block;
        color: #fff;
        background-color: #5b8186;
        padding: 10px;
        border: 0;
        width: 100%;
        margin: 20px 0 0;
    }
    .container {
        margin: 0 10px;
    }
    .image-gradient-thumb {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .twitter-gradient {
        display: none;
    }
    .welcome-modal h1 {
        font-size: 60px;
    }
    #welcome-input {
        width: 50%;
        padding: 0;
        -webkit-appearance: none;
    }
    .form-welcome {
        margin: 70px 0 0;
    }
    a.logo {
        top: 0;
        margin: 0;
        position: absolute;
        display: inline-block;
        z-index: 100;
        background-size: 75px !important;
        background-position: center;
        width: 100%;
        left: 0;
    }
    /*nav*/
    .sidebar ul.nav {
        margin: -10px 0;
    }
    #main {
        padding: 0;
        margin-top: 30px;
    }
    .box .title {
        margin-bottom: -10px;
    }
    .quiz_begin {
        margin-bottom: -10px;
    }
    .page-title h1,
    h1.page-title {
        font-size: 60px;
    }
    /* input forms*/
    .quiz_begin input[type="text"] {
        font-size: 1.3em;
    }
    .quiz_section input[type="submit"] {
        -webkit-appearance: none;
        border-radius: 0;
    }
}