/* sidebar */

.sidebar
{
    background: transparent;
}

.sidebar .twitter-gradient
{
    height: 600px;
}

.sidebar .twitter-gradient iframe
{
    height: 600px !important;
    width: 100% !important;
}

.sidebar ul.nav
{
    background: white;
    margin-bottom: 20px;
}


.nav li:first-child {
    background-color: #333;
}

.nav li.active a {
    color:#fff;
}
.nav li.active a:hover {

    background-color: #000 
}

/*responsive stuff*/

@media (max-width: 768px) {
    .image-gradient-thumb {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }
    .twitter-gradient {
        display: none;
    }
    .welcome-modal h1 {
        font-size: 60px;
    }
    .form-welcome {
        margin: 50px 0;
    }
    a.logo {
        top: 0;
        margin: 0;
        position: absolute;
        
    }
    
    /*nav*/
    .nav li {
        padding: 0 10px;
    }
.main-container {
    margin: 0;
}
    #main {
    padding: 0;
    
    }
    
}